.Chat {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;

  bottom: 0;
  right: 4rem;
  z-index: var(--z-index-modal);

  width: 34rem;
  height: 56rem;

  background: var(--bg-chat);

  border-radius: var(--radius-md) var(--radius-md) var(--radius-none)
    var(--radius-none);
  border-top: 0.5rem solid var(--border-cta);
  border-right: 0.3rem solid var(--border-cta);
  border-left: 0.3rem solid var(--border-cta);

  box-shadow: 0.2rem 1.1rem 1.17rem 0rem rgba(0, 0, 0, 0.25) inset;

  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.ChatOpened {
  transform: translateY(0);
}

.ChatCloseBtn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
}

.ChatCloseBtn:hover {
  color: var(--text-btn-hover);
}

.ChatCloseBtn:active {
  transform: scale(0.9);
}

.ChatCloseBtn:focus {
  border: none;
  border-radius: var(--radius-circle);
  outline: var(--border-btn-focus) 0.4rem solid;
}

.chatAvatarToggle {
  z-index: var(--z-index-modal-btn);

  background-color: transparent;
  border: none;
  transition: transform 0.5s ease-in-out;
}

.chatAvatarToggle:focus {
  border: none;
  border-radius: var(--radius-circle);
  outline: var(--border-btn-focus) 0.4rem solid;
}

.chatAvatarToggle:active {
  transform: scale(0.95);
}

.chatAvatarOpened {
  position: fixed;
  top: 20%;
  right: 32rem;
}

.chatAvatarClosed {
  position: fixed;
  bottom: 2%;
  right: 2%;
  transform: scaleX(-1);
}

.ChatHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.ChatTitle {
  display: flex;
  flex-direction: column;

  font-size: var(--fs-lg);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  text-align: center;
  line-height: normal;

  color: var(--text-alt);
}

.ChatTitle :last-child {
  font-size: var(--fs-4xl);
}

.ChatContent {
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  width: 32rem;
  height: 39rem;
  padding-top: 1.6rem;

  background: var(--bg-neutraldark-gradient);
  border-radius: var(--radius-sm);
}

.ChatMsgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.8rem;

  width: 100%;

  padding: 0 1rem;
}

.ChatMsgContainer p {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.6rem 2rem;

  font-family: var(--ff-primary);
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  line-height: var(--leading-tight);

  background-color: var(--bg-surface);
  color: var(--text-default);
  background: var(--bg-black-gradient);

  border-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-none);
}

.ChatMsgUser {
  display: flex;
  flex-direction: row-reverse;
}

.ChatMsgUser p {
  color: var(--text-alt);
  background: var(--bg-primary-gradient);

  border-bottom-right-radius: var(--radius-none);
  border-bottom-left-radius: var(--radius-lg);
}

.ChatFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.ChatForm {
  display: flex;
  gap: 1rem;

  width: 100%;
  padding: var(--sp-2xs) var(--sp-xs);
}

.visuallyHidden {
  overflow: hidden;
  clip-path: rect(0 0 0 0);

  position: absolute;

  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;

  white-space: nowrap;

  border: 0;
}

.ChatInputMsg {
  display: flex;
  align-items: center;

  width: 100%;
  padding-left: var(--sp-sm);

  caret-color: var(--text-caret);

  color: var(--text-alt);
  background: var(--bg-input);
  border-radius: var(--radius-sm);
  border-style: none;
  box-shadow: 0rem 0.4rem 0.35rem 0rem rgba(0, 0, 0, 0.25) inset;
}

.ChatInputMsg:focus {
  border: none;
  outline: var(--border-input-focus) 0.2rem solid;
}

.ChatInputMsg::selection,
.ChatMsgContainer p::selection {
  color: var(--text-alt);
  background-color: var(--bg-text-selection);
}

.ChatBtnSubmit {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;
  padding: 1rem;
  aspect-ratio: 1/1;

  background: var(--bg-neutraldark-gradient);
  border-style: none;
  border-radius: var(--radius-circle);
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem rgba(41, 40, 40, 0.3),
    -0.1rem -0.1rem 0.2rem 0rem rgba(41, 40, 40, 0.5),
    -1.6rem 1.6rem 3.2rem 0rem rgba(41, 40, 40, 0.2) inset;
}

.ChatBtnSubmit:hover {
  background: var(--bg-black-gradient);
}

.ChatBtnSubmit:active {
  transform: scale(0.95);
}

.ChatBtnSubmit:focus {
  outline: var(--border-btn-focus) 0.4rem solid;
}

.ChatBtnIcon {
  color: var(--icon-cta);
}
