@import './reset.css';
@import './variables.css';

body {
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  line-height: 1.5;

  color: var(--text-default);
  background-color: var(--bg-page);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: var(--ff-secondary);
}

h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

h4 {
  font-size: var(--fs-md);
}

h5 {
  font-size: var(--fs-sm);
}

h6 {
  font-size: var(--fs-xs);
}

fieldset {
  border-style: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-input-autofill) inset !important;
  -webkit-text-fill-color: var(--text-alt) !important;
}

::-webkit-scrollbar {
  direction: rtl;
  width: 1rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-surface);
  border-radius: var(--radius-md);
  box-shadow: 0rem -0.1rem 0.17rem 0rem rgba(0, 0, 0, 0.25) inset,
    -0.1rem 0.1rem 0.17rem 0rem rgba(0, 0, 0, 0.25) inset;
  border-top: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}
