*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
  color-scheme: dark light;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;

  font-style: italic;

  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

p {
  text-wrap: pretty;
}

ul,
ol {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font: inherit;
}

button:disabled,
a:disabled {
  cursor: not-allowed;
}

input,
textarea,
select {
  font: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

address {
  font-style: normal;
}

/* :focus {
  outline: 2px dotted #005fcc;
  outline-offset: 2px;
}

:hover {
  outline: 2px dotted #ff0000;
  outline-offset: 2px;
} */

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-padding-top: 3rem;
  }
}
