@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* System Colors */
  --alert: oklch(0.63 0.2571 29.21);
  --info: oklch(0.56 0.2407 260.89);
  --success: oklch(0.59 0.1994 142.61);
  --warning: oklch(0.79 0.1698 71.36);

  /* Neutral Palette */
  --neutral-white: oklch(1 0 none);
  --neutral-50: oklch(0.98 0 none);
  --neutral-100: oklch(0.95 0 none);
  --neutral-200: oklch(0.85 0 none);
  --neutral-300: oklch(0.79 0 none);
  --neutral-400: oklch(0.72 0 none);
  --neutral-500: oklch(0.66 0 none);
  --neutral-600: oklch(0.56 0 none);
  --neutral-700: oklch(0.46 0 none);
  --neutral-800: oklch(0.36 0 none);
  --neutral-900: oklch(0.25 0 none);
  --neutral-950: oklch(0.19 0 none);
  --neutral-black: oklch(0 0 none);

  /* Colors Palettes */
  --primary-50: oklch(98.87% 0.0126 86.828);
  --primary-100: oklch(97.12% 0.03564 89.44);
  --primary-200: oklch(93.779% 0.08002 90.268);
  --primary-300: oklch(90.675% 0.11963 90.051);
  --primary-400: oklch(87.633% 0.14988 88.25);
  --primary-500: oklch(85.051% 0.16753 85.511);
  --primary-600: oklch(79.281% 0.16335 82.034);
  --primary-700: oklch(66.435% 0.13667 82.776);
  --primary-800: oklch(52.719% 0.10838 83.116);
  --primary-900: oklch(38.262% 0.0784 85.142);
  --primary-950: oklch(30.326% 0.06203 86.968);

  /* Main Colors */
  --primary: var(--primary-500);
  --highlight: var(--primary-300);
  --accent: var(--primary-700);

  /* Background Colors */
  --bg-surface: var(--neutral-400);
  --bg-header-chat: var(--primary);
  --bg-chat: var(--primary);
  --bg-page: var(--neutral-950);
  --bg-modal: var(--neutral-900);

  --bg-btn-hover: var(--primary-400);
  --bg-btn-hover-alt: var(--neutral-900);
  --bg-btn-cta: var(--primary);
  --bg-btn-gradient_135deg: linear-gradient(
    135deg,
    var(--primary-500) 9.32%,
    var(--primary-700) 91.75%
  );

  --bg-text-selection: var(--primary-700);
  --bg-input-autofill: var(--primary-600);
  --bg-input: var(--neutral-50);

  --bg-neutraldark-gradient: linear-gradient(
    180deg,
    var(--neutral-800) 0%,
    var(--neutral-950) 100%
  );

  --bg-black-gradient: linear-gradient(
    180deg,
    var(--neutral-black) 0%,
    var(--neutral-900) 100%
  );

  --bg-primary-gradient: linear-gradient(
    180deg,
    var(--yellow-700, #bc8a00) 0%,
    var(--yellow-400, #ffd051) 100%
  );

  /* Text Colors */
  --text-default: var(--neutral-50);
  --text-alt: var(--neutral-950);
  --text-caret: var(--primary-700);

  --text-btn-default: var(--neutral-950);
  --text-btn-hover: var(--primary-800);
  --text-btn-alt: var(--neutral-50);

  --text-link-default: var(--neutral-50);
  --text-link-hover: var(--primary-600);

  /* Icons Colors */
  --icon-default: var(--neutral-50);
  --icon-alt: var(--neutral-950);
  --icon-hover: var(--primary-600);
  --icon-cta: var(--primary);

  /* Border Colors */
  --border-default: var(--neutral-500);

  --border-highlight: var(--primary-600);
  --border-cta: var(--primary);
  --border-input-focus: var(--primary-800);
  --border-btn-focus: var(--primary-100);

  --border-success: var(--success);
  --border-warning: var(--warnning);
  --border-error: var(--alert);

  /* Shadow Colors/Opacity */
  --shadow-black_a100: oklch(0 0 none);
  --shadow-black_a90: oklch(0 0 none / 0.9);
  --shadow-black_a70: oklch(0 0 none / 0.7);
  --shadow-black_a50: oklch(0 0 none / 0.5);
  --shadow-black_a30: oklch(0 0 none / 0.3);
  --shadow-black_a10: oklch(0 0 none / 0.1);
  --shadow-black_a0: oklch(0 0 none / 0);

  /* SPACING */
  --sp-3xs: 0.2rem;
  --sp-2xs: 0.4rem;
  --sp-xs: 0.8rem;
  --sp-sm: 1.2rem;
  --sp-md: 1.6rem;
  --sp-lg: 2.4rem;
  --sp-xl: 3.2rem;
  --sp-2xl: 4rem;
  --sp-3xl: 4.8rem;
  --sp-4xl: 6.4rem;

  /* BORDERS */
  --radius-none: 0rem;
  --radius-xs: 0.2rem;
  --radius-xxs: 0.2rem;
  --radius-xs: 0.4rem;
  --radius-sm: 0.8rem;
  --radius-md: 1.6rem;
  --radius-lg: 2.4rem;
  --radius-xl: 3.2rem;
  --radius-circle: 50%;

  /* Font Family */
  --ff-primary: 'Lato', sans-serif;
  --ff-secondary: 'Bebas Neue', sans-serif;

  /* Font Sizes */
  --fs-2xs: 1rem;
  --fs-xs: 1.2rem;
  --fs-sm: 1.3rem;
  --fs-md: 1.6rem;
  --fs-lg: 2rem;
  --fs-xl: 2.4rem;
  --fs-2xl: 2.8rem;
  --fs-3xl: 3.2rem;
  --fs-4xl: 4rem;
  --fs-5xl: 4.8rem;
  --fs-6xl: 5.6rem;
  --fs-7xl: 6.4rem;
  --fs-8xl: 7.2rem;

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  /* Line Height */
  --leading-none: 1.6rem;
  --leading-tight: 2rem;
  --leading-snug: 2.2rem;
  --leading-normal: 2.4rem;
  --leading-relaxed: 2.6rem;
  --leading-loose: 3.2rem;

  /* Z-INDEX */
  --z-index-modal: 1000;
  --z-index-modal-btn: 1050;
  --z-index-modal-menu: 1100;
}
