.page {
  position: relative;
  height: 100vh;

  background: url('/bg_furia.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

/* ///////////////////// CHAT ///////////////////////////////////// */
.chatContainer {
  position: fixed;
  bottom: 0;
  right: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
  z-index: var(--z-index-modal);

  width: 34rem;
  height: 56rem;
  padding-top: var(--sp-sm);
}
