.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sp-sm);

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-modal-menu);

  width: 100%;
  padding-top: var(--sp-lg);
  padding-inline: var(--sp-xl);
}

.menuButton {
  font-size: var(--fs-3xl);
  color: var(--icon-default);
  background-color: transparent;
  border: none;
}

.menuButton:focus {
  outline: var(--border-input-focus) 2px solid;
}

.navMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: var(--bg-black-gradient);

  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out, visibility 0.4s ease-in-out;
  visibility: hidden;
}

.navMenuOpened {
  padding: var(--sp-xl) var(--sp-lg);
  transform: translateY(0);
  visibility: visible;
}

.navMenu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: var(--sp-xs);

  height: 100%;
}

.navMenu ul li {
  display: flex;
}

.linkSocialMedia {
  display: flex;
  align-items: center;
  gap: var(--sp-lg);

  padding: var(--sp-sm) 0;

  font-size: var(--fs-lg);
  color: var(--text-link-default);
}

.linkSocialMedia:hover {
  color: var(--text-link-hover);
}

.icon {
  display: flex;
  flex-shrink: 0;
  font-size: var(--fs-xl);
}

.icon:active {
  transform: scale(0.95);
}

@media (width >= 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--sp-sm);

    position: fixed;

    width: 100%;
    height: auto;
    padding: var(--sp-lg) var(--sp-4xl);

    background: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0) 0%,
      var(--neutral-950) 70%
    );
  }

  .menuButton {
    display: none;
  }

  .navMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--sp-lg);

    position: static;

    width: auto;
    height: auto;

    background: none;

    transform: none;
    visibility: visible;
  }

  .navMenuOpened {
    transform: none;
    visibility: visible;
  }

  .navMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--sp-xl);
  }

  .linkSocialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--sp-2xs);

    padding: 1rem 0;

    font-size: var(--fs-sm);
  }

  .icon {
    font-size: var(--sp-lg);
  }
}
